
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');


.sidebar {
    width: 220px;
    height: 100%;
    background-color: #fff;
    padding: 20px 10px;
    border: 1px solid  #1F263E;
    
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0); /* Show sidebar by default */
    background-color:  #1F263E;
color: white;
}

:where(.css-dev-only-do-not-override-ccdg5a).ant-menu-light.ant-menu-root.ant-menu-inline,
:where(.css-dev-only-do-not-override-ccdg5a).ant-menu-light>.ant-menu.ant-menu-root.ant-menu-inline,
:where(.css-dev-only-do-not-override-ccdg5a).ant-menu-light.ant-menu-root.ant-menu-vertical,
:where(.css-dev-only-do-not-override-ccdg5a).ant-menu-light>.ant-menu.ant-menu-root.ant-menu-vertical {
    border-inline-end: none;
    background-color: #1F263E;

}

.hamburger {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1100;
    cursor: pointer;
    font-size: 24px;
    display: none; /* Hidden on larger screens */
}

.logo {
     font-family: "Kantumruy Pro", sans-serif;;
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-align: center;
    margin-bottom: 30px;
  
}

.menu {
    border: none;
}

.menu .ant-menu-item {
    padding-left: 20px !important;
    margin-bottom: 20px;
    color: white;
}

.menu .ant-menu-item-selected {
    background-color: #303750 !important; /* Set selected background to black */
    color: white !important; /* Set selected text color to white */
}

/* For larger screens (min-width: 768px), sidebar should be always visible */
@media (min-width: 768px) {
    .sidebar {
        transform: translateX(0); /* Ensure sidebar is visible */
    }
    .hamburger {
        display: none; /* Hide hamburger on large screens */
    }
}

/* For smaller screens (max-width: 768px), sidebar is hidden and toggled */
@media (max-width: 768px) {
    .hamburger {
      display: block; /* Show hamburger button on small screens */
    }

    .sidebar {
      transform: translateX(-100%); /* Hide sidebar when screen is small */
    }

    .sidebar.collapsed {
      transform: translateX(0); /* Show sidebar when toggled */
    }
}
